<section class="panel">
  <h3>Current Tournaments</h3>
  <md-list>
    <md-list-item routerLink="/tournament/1">Tournament 1</md-list-item>
    <md-list-item routerLink="/tournament/2">Tournament 2</md-list-item>
    <md-list-item routerLink="/tournament/3">Tournament 3</md-list-item>
  </md-list>
</section>
<section class="panel">
  <h3>Last Matches</h3>
  <md-list>
    <md-list-item routerLink="/match/1">Match 1</md-list-item>
    <md-list-item routerLink="/match/2">Match 2</md-list-item>
    <md-list-item routerLink="/match/3">Match 3</md-list-item>
  </md-list>
</section>
<section class="panel">
  <h3>Top Teams</h3>
  <md-list>
    <md-list-item routerLink="/team/1">Team 1</md-list-item>
    <md-list-item routerLink="/team/2">Team 2</md-list-item>
    <md-list-item routerLink="/team/3">Team 3</md-list-item>
  </md-list>
</section>
<section class="panel">
  <h3>Top Players</h3>
  <md-list>
    <md-list-item routerLink="/player/1">Player 1</md-list-item>
    <md-list-item routerLink="/player/2">Player 2</md-list-item>
    <md-list-item routerLink="/player/3">Player 3</md-list-item>
  </md-list>
</section>
