<div class="row">
  <div class="col-xs-6">
    <section @fadeInAnimation class="panel">
      <div class="row">
        <md-list class="col-xs-8">
          <h3>Current Tournaments</h3>
          <md-list-item class="fadeIn" routerLink="/tournament/1">Tournament 1</md-list-item>
          <md-list-item class="fadeIn" routerLink="/tournament/2">Tournament 2</md-list-item>
          <md-list-item class="fadeIn" routerLink="/tournament/3">Tournament 3</md-list-item>
          <md-list-item class="fadeIn" routerLink="/tournament/4">Tournament 4</md-list-item>
        </md-list>
        <div class="col-xs-4" @fadeInAnimation>
          <img class="fadeIn" src="/assets/sidebar/goal.jpg" alt="">
        </div>
      </div>
    </section>
  </div>
  <div class="col-xs-6">
    <section @fadeInAnimation class="panel">
      <div class="row">
        <md-list class="col-xs-8">
          <h3>Last Matches</h3>
          <md-list-item class="fadeIn" routerLink="/match/1">Match 1</md-list-item>
          <md-list-item class="fadeIn" routerLink="/match/2">Match 2</md-list-item>
          <md-list-item class="fadeIn" routerLink="/match/3">Match 3</md-list-item>
          <md-list-item class="fadeIn" routerLink="/match/4">Match $</md-list-item>
        </md-list>
        <div class="col-xs-4" @fadeInAnimation>
          <img class="fadeIn" src="/assets/sidebar/goal.jpg" alt="">
        </div>
      </div>
    </section>
  </div>
  <div class="col-xs-6">
    <section @fadeInAnimation class="panel">
      <div class="row">
        <md-list class="col-xs-8">
          <h3>Top Teams</h3>
          <md-list-item class="fadeIn" routerLink="/team/1">FC Bayern München</md-list-item>
          <md-list-item class="fadeIn" routerLink="/team/3">Juventus</md-list-item>
          <md-list-item class="fadeIn" routerLink="/team/4">Chelsea</md-list-item>
          <md-list-item class="fadeIn" routerLink="/team/4">Manchester United</md-list-item>
        </md-list>
        <div class="col-xs-4" @fadeInAnimation>
          <img class="fadeIn" src="/assets/sidebar/goal.jpg" alt="">
        </div>
      </div>
    </section>
  </div>
  <div class="col-xs-6">
    <section @fadeInAnimation class="panel">
      <div class="row">
        <md-list class="col-xs-8">
          <h3>Top Players</h3>
          <md-list-item class="fadeIn" routerLink="/player/1">Player 1</md-list-item>
          <md-list-item class="fadeIn" routerLink="/player/2">Player 2</md-list-item>
          <md-list-item class="fadeIn" routerLink="/player/3">Player 3</md-list-item>
          <md-list-item class="fadeIn" routerLink="/player/3">Player 3</md-list-item>
        </md-list>
        <div class="col-xs-4" @fadeInAnimation>
          <img class="fadeIn" src="/assets/sidebar/goal.jpg" alt="">
        </div>
      </div>
    </section>
  </div>
</div>
