<!-- <section class="panel">
  <h4>Find a Team
    <md-icon md-list-icon>search</md-icon>
  </h4> <button md-raised-button>Create a Team</button>
  <md-list *ngIf="id !== 'new'">
    <md-list-item routerLink="/team/1">Team 1</md-list-item>
    <md-list-item routerLink="/team/2">Team 2</md-list-item>
    <md-list-item routerLink="/team/3">Team 3</md-list-item>
  </md-list>
</section>
<hr> -->
<md-progress-bar *ngIf="!teamData.name" color="accent" mode="indeterminate"></md-progress-bar>
<section class="panel" *ngIf="teamData.name">
  <div class="row">
    <div class="col-xs">
      <img [src]="teamData.imageUrl" alt="">
    </div>
    <div class="col-xs">
      <h3>{{teamData.name}}</h3>
      <h5>Won:</h5>
      <h5>Lose:</h5>
    </div>
  </div>
</section>
<section class="panel" *ngIf="teamData.name">
  <h4>Players</h4>
  <app-players [fromTeam]="id"></app-players>
</section>
<section class="panel" *ngIf="teamData.name">
  <h4>Last Results</h4>
  <md-list>
    <md-list-item routerLink="/match/1">Team 1(1) vs Team 2(2)</md-list-item>
    <md-list-item routerLink="/match/2">Team 2(1) vs Team 3(2)</md-list-item>
    <md-list-item routerLink="/match/3">Team 3(1) vs Team 1(2)</md-list-item>
    <md-list-item (click)="getMoreMatches()">See More</md-list-item>
  </md-list>
</section>