.mat-card {
    background-color: transparent;
    background-image: url(http://futhead.cursecdn.com/static/img/17/cards/large-tots-gold.png?d1c67191c955);
    background-repeat: no-repeat;
    color: #fff;
    width: 202px;
    height: 310px;
    box-shadow: none !important;
}