<md-progress-bar *ngIf="!playerData.name" color="accent" mode="indeterminate"></md-progress-bar>
<div class="panel" *ngIf="playerData.name">
  <div class="row end" @fadeInAnimation>
    <div class="col-xs-6 fadeIn">
      <md-card class="">
        <md-card-content @slideInAnimation>
          <p class="playercard-name slideIn">{{playerData.name}}</p>
          <div class="playercard-image-container">
            <img class="slideIn" [src]="playerData.imageUrl" [alt]="playerData.name">
          </div>
          <div class="attr attr-1 slideIn">Def: {{playerData.stats.def}}</div>
          <div class="attr attr-2 slideIn">Dri: {{playerData.stats.dri}}</div>
          <div class="attr attr-3 slideIn">Pac: {{playerData.stats.pac}}</div>
          <div class="attr attr-4 slideIn">Pas: {{playerData.stats.pas}}</div>
          <div class="attr attr-5 slideIn">Phy: {{playerData.stats.phy}}</div>
          <div class="attr attr-6 slideIn">Sho: {{playerData.stats.sho}}</div>
        </md-card-content>
      </md-card>

    </div>
    <div class="col-xs-6">
      <md-list>
        <md-list-item>
          <button md-raised-button>Buy (300 coins)</button>
        </md-list-item>
        <md-list-item>
          <button md-raised-button>+ Wish List</button>
        </md-list-item>
      </md-list>
    </div>
  </div>
</div>