<!-- <button md-raised-button (click)="showDetail()">Show Detail</button> -->
<section *ngIf="results && results.actions.length">
  <div class="row" @slideInAnimation >
    <div class="col-xs-12">
        <div class="match-header panel">
            <div class="team-container slideIn">Team 1 ({{results.goals[0]}})</div>
            <div class="vs-container slideIn">VS</div>
            <div class="team-container slideIn">Team 2 ({{results.goals[1]}})</div>
            <div class="detail-container">Result: <span class="slideIn">{{(results.goals[0] > results.goals[1]) ? 'Team1' : 'Team2'}} Won</span></div>
          </div>
    </div>

    <div class="col-xs-12">
        <md-list class="result-list panel">
            <h3>Details</h3>
            <md-list-item class="slideIn" *ngFor="let action of results.actions">{{action.text}}</md-list-item>
          </md-list>
    </div>
  </div>

</section>
