.panel {
    padding: 30px;
    background: rgba(0,0,0,0.3);
    margin-top: 20px;
    box-shadow: rgba(0,0,0,0.2) 2px 3px;
    border-radius: 2px;
}

.error {
    color:red;
}

.mat-card {
    background: rgba(255,255,255,255,0.3);
    color: #fff;
    width: 22.4%;
    float: left;
}